*{
    background-color: #DCF2F1;
}  

h1{
    position: relative;
    text-align: center;
    color: #365486;
}

form{
    position: relative;
    text-align: center;
    top: 150px;
}

.login{
    font-size: 30px;
    color: #365486;
}

button {
    font-size: 48px;
    color: #365486;
    background-color: #7FC7D9;
}